<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <img src="assets/img/logo.png" id="icon" alt="logo" />

        <!-- Icon -->
        <div class="fadeIn first">
            <h2 class="active"> Administration </h2>
        </div>

        <!-- Login Form -->
        <form method="post" action="" autocomplete="off">
            <input type="email" id="login" class="fadeIn second" name="email" placeholder="Adresse e-mail">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="Mot de passe">
            <input type="submit" class="fadeIn fourth" name="submit_connexion" value="Connexion">
        </form>

    </div>
</div>