<div class="page-head calc_width">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Commandes</li>
            <li class="breadcrumb-item">Panier</li>
        </ol>
    </nav>
    <div class="row justify-content-between">
        <h2 class="title-page col-md-8 col-lg-6">Panier <span class="badge-nb badge-secondary">{{ nb_carts }}</span></h2>
    </div>
</div>