<form action="" method="post" id="form_search" class="std">
    <table id="form-list" class="table table-bordered footab">
        <thead>
            <tr class="item">
                <th class="item width_10">
                    <input type="text" placeholder="ID" name="id_gender" class="form-control">
                </th>
                <th class="item">
                    <input type="text" placeholder="Nom" name="name" class="form-control">
                </th>
                <th class="item text-center">
                    <button type="submit" name="rechercher_{{ table }}" value="true" class="btn btn-themes"><i class="fa fa-search"></i> Rechercher</button>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for civilite in gender %}

            {% set upd_element = table~'&action=upd&g='~civilite.id_gender %}
            {% set delete_element = table~'&d='~civilite.id_gender %}

            <tr class="item">
                <td>
                    <span class="detail_td bold">ID :</span>
                    {{ civilite.id_gender }}
                </td>
                <td>
                    <span class="detail_td bold">Nom :</span>
                    {{ civilite.name }}
                </td>
                {% include './admin/global/views/ActionViews.twig' %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
