<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% for item in breadcrumb %}
            <li class="breadcrumb-item">
                {% if loop.last %}
                    <strong>{{ item }}</strong>
                {% else %}
                    {{ item }}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</nav>