<div class="page-head calc_width">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Livraison</li>
            <li class="breadcrumb-item">Transporteurs</li>
        </ol>
    </nav>
    <div class="row justify-content-between">
        <h2 class="title-page col-md-8 col-lg-6">Transporteurs <span class="badge-nb badge-secondary">{{ nb_carrier }}</span></h2>

        <a id="page-header"
           class="add_in_header col-md-4 col-lg-4 col-xl-3 align-self-end toolbar_btn pointer"
           href="{{ table }}&action=add"
           title="Ajouter un transporteur">
            <i class="fa fa-plus-circle"></i>
            <div class="display-pc">Ajouter un transporteur</div>
        </a>
    </div>
</div>